{% extends "main.html" %}

{%block content %}
<div class="row">
  <div class="col-md-12">
    <h1>{{track_name}}</h1>
    <div class="panel panel-default">
      <div class="panel-heading">
	<h2>Metadata</h2>
      </div>
      <div class="panel-body">
	<table class="table table-striped table-condensed">
	  <tr>
	    <td><strong>artist:</strong></td>
	    <td><a href="/artist/{{artist}}">{{artist_name}}</a></td>
	  </tr>
	  <tr>
	    <td><strong>performance:</strong></td>
	    <td><a href="/performance/{{event}}">{{event_name}}</a></td>
	  </tr>
	  <tr>
	    <td><strong>track:</strong></td>
	    <td>{{num}}</td>
	  </tr>
	  <tr>
	    <td><strong>etree:</strong></td>
	    <td><a href="{{track_id}}">{{track_id}}</a></td>
	  </tr>
      </div>
  </div>
</div>  
{%endblock%}
