/* Customising Bootstrap to use UoM colour scheme */

/* 
purple: 660099
        440066
        220033
        aa00ff
yellow: ffcc33 
        ffd966
        ffe699
*/

/* Bootstrap blue: #428bca */
/*           light blue: #5bc0de */


/* Variables. Bit hacky? */

:root {
    --black:#565656;
    --two:#d7cec7;
    --one:#76323f;
    --three:#c09f80
}

.navbar-inverse {
    background-color: var(--one);
    
}

.navbar-inverse .navbar-nav .active a { 
     background-color: #5bc0de;
} 

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
    color: #ffffff;
    font-size: 120%;
}

.btn-basic {
    background-color: var(--one);
    color: white;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
    color: var(--one);
}
h1, h2, h3, h4 {
    color: var(--one);
}
a {
    color: var(--one);
}

.panel-default .panel-heading {
    color: var(--one);
    background-color: var(--two);
}

.well {
    background-color: #ffe699;
    background-color: var(--two);
    border-color: #428bca;
}

code {
    color: #428bca;
}

.label-as-badge {
    border-radius: 1em;
}

dd {
  margin-left: 10px;
}

.btn-primary {
    background-color: var(--one);
}


