/* Customising Bootstrap to use UoM colour scheme */

/* 
purple: 660099
        440066
        220033
        aa00ff
yellow: ffcc33 
        ffd966
        ffe699
*/

/* Bootstrap blue: #428bca */
/*           light blue: #5bc0de */


/* Variables.*/

:root {
    --black:#565656;
    --main-background:#d7cec7;
    --main-colour:#76323f;
    --three:#c09f80
}

.navbar-inverse {
    background-color: var(--main-colour);
    
}

.navbar-inverse .navbar-nav .active a { 
    background-color: var(--main-background);
} 

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li a {
    color: var(--main-background);
    font-size: 120%;
}

.btn-basic {
    background-color: var(--main-colour);
    color: white;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
    color: var(--main-colour);
}
h1, h2, h3, h4 {
    color: var(--main-colour);
}
a {
    color: var(--main-colour);
}

.panel-default .panel-heading {
    color: var(--main-colour);
    background-color: var(--main-background);
}

.well {
    background-color: var(--main-background);
    border-color: var(--main-colour);
}

code {
#    color: #428bca;
}

.label-as-badge {
    border-radius: 1em;
}

dd {
  margin-left: 10px;
}

.btn-primary {
    background-color: var(--main-colour);
}


